@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: #F5F5F5;
}

/* Shareable Styling */
header,main{
    padding: 0 10%;
}

p{
    color:rgba(14, 14, 14, 0.7)
}

h1{
    font-size: 48px;
    font-weight: 800;
    color:rgba(14, 14, 14, 1);
}
h2{
    font-size: 36px;
    font-weight: 800;
    color:rgba(14, 14, 14, 1);
}
h3{
    font-size: 26px;
    font-weight: 700;
    color:rgba(14, 14, 14, 0.5);
}

h5{
    font-size: 20px;
    font-weight: 800;
    color:rgba(14, 14, 14, 0.8)
}
h6{
    font-size: 14px;
    font-weight: 500;
    color:rgba(14, 14, 14, 0.6)
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-1{
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 800;
    color: #006A50;
}

.btn-1:hover{
    background: #006A50;
    color: white;
}

.btn-2{
    padding: 15px 30px;
    margin: 10px 0;
    background: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-weight: 700;
    color: white;   
}

.btn-2:hover{
    background: transparent;
    color: #006A50;
}

.btn-3{
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: white; 
    background: rgba(0, 106, 80, 1); 
}


body section{
    margin-top: 80px;
}

/* header */
/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* hero-sec */
.hero-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 100px 60px;

    background-color: #C6E4D6;
    border-radius: 20px;
}

.hero-sec div{
    width: 60%;
}

.hero-sec h1{
    margin: 10px 0;
}
.hero-sec>img{
    width: 35%;
}

/* main */
/* pilars of BD */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    gap: 25px;
}

.container .card{
    padding: 24px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 20px;
}

.card h5, .card p{
    margin-top: 10px;
}

/* Vision Section */
.vision>p{
    margin: 24px 0;
}

.vision .card{
    position: relative;
    border: none;
    width: 33%;
    height: 300px;
}

.vision .card p{
    margin: 15px 0;
}

.vision .card .btn-3{
    position: absolute;
    bottom: 24px;
}
.vision #card-1{
    background-color: rgba(84, 144, 245, 0.2);
}
#btnc-1{
    background: rgba(84, 144, 245, 1);
}

#btnc-1:hover{
    background: rgba(84, 144, 245, 0.8);
}

.vision #card-2{
    background-color: rgba(198, 228, 214, 1) ;
}
#btnc-2{
    background: rgba(9, 161, 92, 1);
}
#btnc-2:hover{
    background: rgba(9, 161, 92, 0.8);
}

.vision #card-3{
    background-color: rgba(247, 235, 207, 1) ;
}
#btnc-3{
    background: rgba(255, 194, 57, 1);
}
#btnc-3:hover{
    background: rgba(255, 194, 57, 0.8);
}

.vision .quote{
    padding: 46px 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 20px;
    background-color: white;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 20px left 20px;
}

.vision .quote p{
    margin-bottom: 15px;
}
.vision .quote h6{
    margin-top: 5px;
}

/* Opinion Table */

.table-container{
    margin: 32px 0;
    border-radius: 20px;
    background-color: white;
    padding: 24px;
}

.table-container table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(14, 14, 14, 0.15);
    table-layout: fixed;
}

.table-container table th{
    padding: 15px 15px;
    background-color: rgba(198, 228, 214, 1);
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.table-container table thead .col-2{
    width: 20%;
}
.table-container table td {
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px 15px;
    font-weight: 700;
}

.table-container table td select{
    font-weight: 600;
    padding: 10px 10px;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: rgba(198, 228, 214, 1);
}

/* News */
.news h2{
    margin: 24px 0;
}
.news-box{
    margin:24px 0;
    border-radius: 20px;
    padding: 48px;
    background-color: white;

    display: flex;
    justify-content: space-between;
}

.news-box:nth-child(even){
    flex-direction: row-reverse;
}
.news-box:nth-child(even)>div{
    margin-right: 32px;
}

.news-box:nth-child(odd)>div{
    margin-left: 32px;
}

.news-box>img{
    border-radius: 20px;
    width: 30%;
}

.news{
    position: relative;
}

.news h3{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 5px;
}
.news>img{
    margin: 15px 0;
}
.news p{
    margin: 15px 0;
}

.news>.btn-3{
    position: absolute;
    bottom: 1px;
    width: 120px;
}

.news>.btn-3:hover{
    background: rgba(0, 106, 80, 0.8);
}


span{
    color:rgba(14, 14, 14, 0.7);
    margin-right: 10px;
}

/* donate */

.donate{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.btn-4{
    padding: 40px;
    margin:0 10px;
    background: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.btn-4:hover{
    background: rgba(198, 228, 214, 1);
}

.donate input{
    padding: 15px 20px;
    outline: none;
    border: none;
    width: 65%;
    text-align: center;
    font-weight: 300;
}

.donate .btn-3:hover{
    background: rgba(0, 106, 80, 0.8);
}

/* newsletter */
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    background: rgba(198, 228, 214, 1);
    border-radius: 20px;
    padding: 48px;

}

.newsletter .subscribe{
    width: 70%;
    text-align: center;
}

.newsletter input{
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 65%;
    font-weight: 300;
}
.newsletter .btn-3{
    margin: 0;
    padding: 15px 20px;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
    color: white; 
    background: rgba(0, 106, 80, 1); 
}

.newsletter .btn-3:hover{
    background: rgba(0, 106, 80, 0.8);
}

/* footer */
footer{
    background: rgb(255, 255, 255);
    margin-top:80px;
    padding: 48px 0;
    text-align: center;
}

footer>section{
    margin: 0px;
}

footer h3{
    color: black;
}

footer hr{
    width: 70%;
    margin: 24px auto;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}